.buttonsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex: 0.5;
}

.detailDesc {
  font-size: 20px;
  padding-bottom: 16px;
}

.skillTitle {
  font-weight: "bold";
  padding-bottom: "6px";
  color: rgb(216, 140, 140);
}

.skillsWrapper {
  gap: 16px;
  display: grid;
  padding-bottom: 16px;
  font-size: 32px;
  padding-left: 32px;
  padding-right: 32px;
}

button {
  min-width: 30%;
  padding: 16px 24px;
  border-radius: 24px;
  font-size: 14px;
  width: fit-content;
}
.active:hover {
  border-color: #1a1a1a;
}
.header {
  text-align: center;
}
.active {
  color: rgb(216, 140, 140);
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 1s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.fadeOut {
  animation: fadeOut 2.5s forwards;
}
.expandWrapper {
  display: grid;
  padding-top: 16px;
}

.imageLeft {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: "24px";
}
.imageRight {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: "24px";
}

.flex30 {
  flex: 0 0 30%;
}

.flex70 {
  flex: 0 0 70%;
}

.big {
  transition: transform 0.3s ease;
}
.big:hover {
  transform: scale(1.1); /* Slightly bigger */
}

.biggerText {
  transition: font-size 0.3s ease;
}

.biggerText:hover {
  font-size: 26px;
}

.skillText {
  font-size: 20px;
  letter-spacing: 1px;
}

@media only screen and (max-width: 650px) {
  .detailDesc {
    font-size: 16px;
  }
  .skillText {
    font-size: 16px;
    letter-spacing: 1px;
  }
  .imageLeft {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 16px;
    font-size: "4vw";
  }

  .flex30 {
    flex: 0 0 1;
    width: 100%;
  }

  .flex70 {
    flex: 0 0 1;
    text-align: center;
    order: 1;
  }
}
.slide-in-bck-left {
  -webkit-animation: slide-in-bck-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-bck-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-bck-left {
  0% {
    -webkit-transform: translateZ(700px) translateX(-400px);
    transform: translateZ(700px) translateX(-400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-bck-left {
  0% {
    -webkit-transform: translateZ(700px) translateX(-400px);
    transform: translateZ(700px) translateX(-400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    opacity: 1;
  }
}
.slide-in-bck-right {
  -webkit-animation: slide-in-bck-right 0.6s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-bck-right 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-bck-right {
  0% {
    -webkit-transform: translateZ(700px) translateX(400px);
    transform: translateZ(700px) translateX(400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-bck-right {
  0% {
    -webkit-transform: translateZ(700px) translateX(400px);
    transform: translateZ(700px) translateX(400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    opacity: 1;
  }
}

.heartbeat {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2025-5-17 18:35:45
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
